extend /__partials/layout/default

block meta
  
block stylesheet
  link(href="css/index.css" rel="stylesheet")

block javascript
  script(src="js/index.js")

block content
  p hello! gulp skelton.

  .sprite
